#section3 {
  height: 100vh;
  width: 100%;
  background-color: #4d3d30;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* Add this line */
}

#section3 .text {
  font-size: 8vw;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: Manrope;
  font-weight: 300;
}
